<footer
    class="bg-lounge-blue py-5 px-[60px] md:px-5 text-white relative flex justify-evenly items-center max-md:flex-col-reverse max-md:text-center max-md:gap-5"
>
    <img
        class="w-[130px]"
        src="https://lirp.cdn-website.com/ed3314ea/dms3rep/multi/opt/The_Lounge_logo-1-30d9a26f-1920w.png"
    />
    <ul class="list-none px-[5px]">
        <li class="font-bold mb-[10px]">Astwood Bank</li>
        <li class="mb-[10px]">
            <span class="font-bold">Phone:</span>
            01527 893965
        </li>
        <li class="mb-[10px]">
            <span class="font-bold">Email:</span>
            thelounge1244@outlook.com
        </li>
    </ul>
    <ul class="list-none px-[5px]">
        <li class="font-bold mb-[10px]">Alcester</li>
        <li class="mb-[10px]">
            <span class="font-bold">Phone:</span>
            01789 764982
        </li>
        <li class="mb-[10px]">
            <span class="font-bold">Email:</span>
            thelounge26@hotmail.com
        </li>
    </ul>
</footer>
