<footer class="footer">
    <img
        src="https://lirp.cdn-website.com/ed3314ea/dms3rep/multi/opt/The_Lounge_logo-1-30d9a26f-1920w.png"
    />
    <ul class="contact">
        <li class="text--bold">Astwood Bank</li>
        <li>
            <span class="text--bold">Phone:</span>
            01527 893965
        </li>
        <li>
            <span class="text--bold">Email:</span>
            thelounge1244@outlook.com
        </li>
    </ul>
    <ul class="contact">
        <li class="text--bold">Alcester</li>
        <li>
            <span class="text--bold">Phone:</span>
            01789 764982
        </li>
        <li>
            <span class="text--bold">Email:</span>
            thelounge26@hotmail.com
        </li>
    </ul>
</footer>
