<header
    class="flex justify-center items-center bg-lounge-blue text-white relative"
>
    <div class="grid grid-cols-[1fr_auto_1fr] items-center px-[15px] pt-[5px]">
        <a
            href="astwood-bank.html"
            class="text-right pr-5 no-underline text-white transition-colors duration-200 hover:text-lounge-red {% if page.location == 'ab' %}text-lounge-red{% endif %}"
            >The Lounge Astwood Bank</a
        >
        <div>
            <a href="index.html">
                <img
                    class="w-[130px]"
                    src="https://lirp.cdn-website.com/ed3314ea/dms3rep/multi/opt/The_Lounge_logo-1-30d9a26f-1920w.png"
                    href="index.html"
                />
            </a>
        </div>
        <a
            href="alcester.html"
            class="text-left pl-5 no-underline text-white transition-colors duration-200 hover:text-lounge-red {% if page.location == 'a' %}text-lounge-red{% endif %}"
            >The Lounge Alcester</a
        >
    </div>
</header>
