<header class="header">
    <!-- TODO: do we need icons?? I don't think so-->
    <i class="fa-solid fa-phone"></i>
    <div class="header__centerpiece"">
        <a href="astwood-bank.html" class="header__text {% if page.location == 'ab' %}header__text_selected{% endif %}">The Lounge Astwood Bank</a>
        <div>
            <img
                class="header__logo"
                src="https://lirp.cdn-website.com/ed3314ea/dms3rep/multi/opt/The_Lounge_logo-1-30d9a26f-1920w.png"
            />
        </div>
        <a href="alcester.html" class="header__text {% if page.location == 'a' %}header__text_selected{% endif %}">The Lounge Alcester</a>
    </div>
    <!--TODO: Add menu -->
    <i class="fa-solid fa-bars"></i>
</header>
